* {
    margin: 0;
    padding: 0;
}
body{
    background-color:silver;
    font-family: "Lato", sans-serif;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}
h1{
    font-size: 40px;
    text-transform: uppercase;
}

h3{
    text-align: center;
}

p{
    font-size: 80px;
    color:white;
    font-family: sevenSegment, sans-serif;
}

@font-face {
    font-family: sevenSegment;
    src: url(SevenSegment.ttf);
}

.center-div{
    width: 900px;
    height: 600px;
    background-color: antiquewhite;
    display: flex;
    background-image:  url(../img/bkmath.jpg);
    background-size: cover;
    flex-direction: column;
    font-size: 30px;
    border-style: double;
    border-radius: 30px;
}
.top{
    width: inherit;
    height:200px;
    display:flex;
    box-shadow: 5px 5px 4px 0 #888888;
    border-radius: 30px;
}
.exercise-div{
    background-color: white;
    display:flex;
    width: inherit;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    margin: 10px;
}
.time-div{
    width: 500px;
    border:2px solid black;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}

.middle{
    display: flex;
    align-items: center;
    width: inherit ;
    height:200px;
    font-size: 50px;
    font-weight: bold;
    padding-left: 20px;
}

.input--res {
        text-align: center;
        width: 350px;
        height: 80px;
        font-size: 30px;
        margin-left: 20px;
        box-shadow: 5px 5px 4px 5px #888888;
     }

.btn button{
    margin-left: 20px;
    padding:10px 20px;
    font-size: 2rem;
    border-radius: 25px;
    text-transform: uppercase;
    box-shadow: 5px 5px 4px 5px #888888;
}

.bottom{
    height: 100px;
    width: inherit;
    display: flex;
    justify-content: space-evenly;
}

.statistics{
    background-color: white;
    width: 300px;
    box-shadow: 5px 5px 4px 5px #888888;
}
