body {
    background-color: #E0E4CC;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
}


#initial {
    width: 75%;
    margin: auto;
    margin-top: 20px;
    font-family: 'Arimo', sans-serif;
    /*font-family: 'Press Start 2P', cursive;*/
    font-size: 80px;
}

#scoreboard .score {
    text-align: center;
    font-size: 30px
}

#scoreboard .score#player1 {
    color: #ED676B;
}

#scoreboard .score#player2 {
    color: #23916B;
}

.cell {
    display: inline-block;
    width: 110px;
    height: 110px;
    line-height: 80px;
    background-color: #69D2E7;
    color: white;
    border: none;
    border-radius: 10%;
    box-shadow: 0 .03em .08em rgba(0,0,0, 0.5);
    margin: 8px;
    transition: background-color 0.2s ease;
}


td:hover {
    cursor: pointer;
    background-color: #FA6900;
}

button {
    font-family: 'Press Start 2P', cursive;
    border: none;
    background: transparent;
    /*width: 50px;*/
    height: 50px;
    margin: .4em;
    border-radius: 50%;
}

.hover:hover {
    background: #F38630;
    color: white;

}

.hoverReplay:hover {
    background: #F38630;
    color: white;

}

:active {
    outline: none;
}

:focus {
    outline: none;
}


.endgame {
    display: none;
    width: 200px;
    top: 340px;
    background-color: rgba(205,133,63,0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}

/*table tr:first-child td{*/
/*    border-top: 0;*/
/*}*/

/*table tr:last-child td{*/
/*    border-bottom: 0;*/
/*}*/

/*table tr td:first-child{*/
/*    border-left: 0;*/
/*}*/

/*table tr td:last-child{*/
/*    border-right: 0;*/
/*}*/

/*@media only screen and (min-device-width: 1000px) {*/
/*    td {*/
/*        width: 120px;*/
/*        height: 120px;*/
/*        line-height: 120px;*/
/*        font-size: 120px;*/
/*    }*/
/*}*/
